html{
  margin:0;
  padding: 0;
}
.root{
  height: 200;
  /* background-color: darkgreen; */
}
.App {
  text-align: center;
  /* background-color: blueviolet; */
}

body{
  overflow-x: hidden;
}
body, p {
  margin: 0;
  padding: 0;
}
/* First Page */

.marquee-container {
  width: 100%;
  /* overflow: hidden; */
  white-space: nowrap;
}

.zigzag-marquee {
  animation: zigzag 10s linear infinite;
  display: inline-block;
}

@keyframes zigzag {
  0%, 100% {
    transform: translateX(0) translateY(0);
  }
  25% {
    transform: translateX(20px) translateY(-20px);
  }
  50% {
    transform: translateX(40px) translateY(0);
  }
  75% {
    transform: translateX(20px) translateY(20px);
  }
}

/* Header */
.custom-navbar-header{
  background-color: #1857d4;
  padding: 0%;
}
.custom-navbar{
  padding: 20px;
}
.header{
  padding-top: 50px;
  background-color: #3bbe55;
}

.profile-image{
  margin-top: 8%;
  height: 20%;
  width: 20%;
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
  position: relative;
  bottom : 150px;
}

.profile_links{
  position: relative;
  right: 500px;
  top: 240px;
}

.profile_links p{
  margin-top: 16px;
}

.about-me{
  background-color: #1857d4;
  padding-top: 50px;
  padding-bottom: 50px;
  /* text-decoration: underline; */
}


.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

.about_me_carousel{
  width: 400px;
  margin: auto;
}
.about_me_img{
  height: 300px;
  width: 200px;
  border-radius: 20px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-link {
  color: #61dafb;
}


/* AboutIntro  */
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f9f3fade;
  padding: 38px;
  margin: auto;
  margin-top: 51px;
}

.text {
  flex: 1;
  padding: 20px;
  text-align: left;
  text-decoration: none;
  /* background-color: #61dafb; */
}

.image {
  flex: 1;
  text-align: right;
}

img {
  max-width: 100%;
  height: auto;
}

/* Add media queries for responsiveness */
@media (max-width: 768px) {
  .container {
      flex-direction: column;
      text-align: center;
  }
  
  .text, .image {
      flex: initial;
      width: 100%;
      text-align: center;
  }
}


/* Style for the container box */
.skills {
  margin: auto;
  /* width: 90%; Reduce the width for smaller screens */
  padding: 20px; /* Adjust the padding as needed */
}

.box-container {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  margin: 20px 0;  /*Adjust the margin as needed */
}

.box {
  width: 100%; /* Adjust the width as needed */
  padding: 20px;
  display: flex;
  flex-wrap: wrap; /* Allow boxes to wrap to the next line on smaller screens */
  justify-content: space-evenly; /* Center the boxes horizontally */
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  margin: 21px; /* Adjust the margin as needed */
}

/* Adjust the font size for buttons to make them responsive */
.box button {
  font-size: 16px; /* You can adjust the font size as needed */
  margin: 10px;
}

@media (min-width: 768px) {
  /* Apply different styles for screens with a minimum width of 768px (tablets and larger) */
  .skills {
    width: 80%; /*Increase the width for tablets and larger screens*/

  }
  .box-container {
    flex-direction: column; /* Place the .box divs side by side on larger screens */
    justify-content: space-between; /* Spread the .box divs horizontally */
    margin: 40px 0px;
    align-items: center;
  }
  .box {
    width: 80%; /* Set a width for .box divs on larger screens */
    margin: 10px 0; /* Adjust the margin for .box divs on larger screens */
  }
}


/* Style for the button */
button {
  display: block;
  /* margin: auto; Adjust the spacing between text and button */
  padding: 10px 20px;
  background-color: #007bff; /* Button background color */
  color: #fff; /* Text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  height: 40px;
  width: 100px;
}

/* Hover effect for the button */
button:hover {
  background-color: #0056b3; /* Change the background color on hover */
}


/* Text styling */

.wave {
  height: 100px;
  width: 100%;
  position: relative;
  -webkit-box-reflect: below -12px linear-gradient(transparent, rgba(209, 36, 36, 0.2));
  font-family: cursive;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wave span {
  position: relative;
  display: inline-block;
  color: #fff;
  font-size: 2em;
  text-transform: uppercase;
  animation: animate 2s ease-in-out infinite;
  animation-delay: calc(.1s*var(--i));
}

@keyframes animate {
  0% {
      transform: translateY(0px);
  }

  20% {
      transform: translateY(-20px);
  }

  40%,
  100% {
      transform: translateY(0px);
  }
}



/* Project Component */
.ProjectComponent{
  width: 80%;
  height: 80%;
  margin: auto;
  padding: 64px;
  margin-top: 50px;
  background-color: #f9f3fade;
}

.projectFlex-row{
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
  flex-wrap: wrap;
}

.projectFlex-item {
  flex-basis: calc(50% - 20px); /* Adjust the width as needed */
  margin: 10px; /* Adjust the margin as needed */
}
@media (max-width: 768px) {
  .projectFlex-item {
    flex-basis: 100%; /* Full width for smaller screens */
  }
  .projectFlex-row{
    margin-top: 0px;
  }
}
